APP_URL=https://am-service.co.uk
VITE_API_URL=https://am-service.co.uk/api
DB_HOST=hr-portal-db.c5m4oagyag9k.eu-west-2.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=postgres
S3_BUCKET_NAME=hr-app-docs-1892298022
AWS_REGION=eu-west-2